section span {
	font-size: .9em !important;
}


body {
	color: #9EE9F8;
}

.about-me {
	background-color: #efefef !important;
}

.finish a,
.about-me a {
	font-size: .8em;
	color: #2B2E3B;
}

.start {
	background-color: #2B2E3B !important;
}

.start h4 {
	color: #9EE9F8 !important;
}

img {
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

#logo-electron {
	width: 500px;
}


p.center {
	text-align: center;
}

p.big {
	font-size: 1.5em;
}

img.small {
	vertical-align: middle;
	padding-left: 30px;
	width: 30%;
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}
